
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}

.logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway";
}
.studio{
    color: #2e2f42;
}

footer{
    background-color: #2e2f42;
}
.footerstudio{
    color: #F4F4FD;
}
.f-paragraf{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}